<script>
	import '@fontsource-variable/mulish';
	export let data;
</script>

<svelte:head>
	<link rel="stylesheet" href="/css/asciidoctor.css" />
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css"
	/>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"
	></script>
</svelte:head>

<section class="py-12 max-w-4xl mx-auto px-4 prose">
	{#if data.attributes?.doctitle}
		<h1>{data.attributes.doctitle}</h1>
	{/if}
	{#if data.attributes?.author}
		<p>
			Contact: {data.attributes?.author}
			{#if data.attributes?.email}
				- <a href="mailto:{data.attributes.email}">{data.attributes.email}</a>
			{/if}
		</p>
	{/if}
	<slot />
</section>
