<script>
	export let data;
</script>

<div class="prose max-w-none">
	<h1>Welcome to SvelteKit with AsciiDoc</h1>

	<p>
		Visit the <a href="https://gitlab.com/zivbk1/sveltekit-asciidoc">GitLab Project</a> to see how this
		was done.
	</p>

	<h2>All Content</h2>

	<ul>
		{#each data.posts as post}
			<li>
				<a data-sveltekit-reload href={post.path}>
					<span class="capitalize">
						{post.path.replace('/', '(').replace('/', ') ').replace('-', ' ')}
					</span>
				</a>
			</li>
		{/each}
	</ul>

	<h2>Additional Information</h2>

	<p>
		"Blog" content use a different filenames, server-side load function, and page layout to render
		the content than the <code>+page.adoc</code> files in the site route folders.
	</p>

	<p>
		The 'Full Test' page tests a bunch of different Asciidoc syntax features, including 'includes'
		of another file into that file.
	</p>

	<p>
		Please feel free to create an issue in the GitLab project tracker if you have any suggestions or
		questions.<br /><strong>Enjoy!</strong>
	</p>
</div>
