<script>
	export let data;
</script>

<svelte:head>
	<title>{data.attributes?.doctitle}</title>
	<meta name="description" content={data.attributes?.summary} />
</svelte:head>

<div>
	{@html data.html}
</div>
